# Statistique inférentielle - Théorie de l'échantillonnage - Exercice 10.2


Une population est constituée des cinq nombres 2, 3, 6, 8 et 11. 


On considère tous les échantillons exhaustifs possibles de taille deux de cette population. 


Trouver:


- La moyenne de la population
- L’écart-type de la population
- La moyenne de la distribution d’échantillonnage des moyennes
- L’écart-type de la distribution d’échantillonnage des moyennes

In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
population_df = pd.DataFrame({'value':[2,3,6,8,11]})

## Calcul explicite (sans recourir à des fonctions de librairie):

In [3]:
population_df['delta'] = population_df['value'] - population_df['value'].mean()

In [4]:
population_df['delta2'] = population_df['delta']**2

In [5]:
population_df

   value  delta  delta2
0      2   -4.0    16.0
1      3   -3.0     9.0
2      6    0.0     0.0
3      8    2.0     4.0
4     11    5.0    25.0

In [6]:
variance_population = population_df['delta2'].sum()/population_df.shape[0]
ecart_type_population = math.sqrt(variance_population)
print('variance de la population:{0:.2f} ecart_type de la population:{1:.2f}'.format(variance_population,ecart_type_population))

variance de la population:10.80 ecart_type de la population:3.29

Construisons les différents échantillons possibles de taille 2, en partant de la population initiale, sans remise (tirage exhaustif):

In [7]:
first_value = []
second_value = []
for index1 in range(population_df.shape[0]):
    for index2 in range(population_df.shape[0]):
        if(index1!=index2):
            first_value.append(population_df.loc[index1]['value'])
            second_value.append(population_df.loc[index2]['value'])
echantillon_df = pd.DataFrame({'first_value':first_value,'second_value':second_value})
echantillon_df

    first_value  second_value
0           2.0           3.0
1           2.0           6.0
2           2.0           8.0
3           2.0          11.0
4           3.0           2.0
5           3.0           6.0
6           3.0           8.0
7           3.0          11.0
8           6.0           2.0
9           6.0           3.0
10          6.0           8.0
11          6.0          11.0
12          8.0           2.0
13          8.0           3.0
14          8.0           6.0
15          8.0          11.0
16         11.0           2.0
17         11.0           3.0
18         11.0           6.0
19         11.0           8.0

Notez le recours à des index pour éviter de tirer deux fois le même exemplaire de la population initiale.

De mémoire, il me semble qu'au cours, nous avions juste évité les mêmes valeurs, en recourant à un test de type if (value1 != value2).

Attention que cela ne fonctionne correctement qu'à condition que toutes les valeurs de la population initiale soient distinctes.

Sinon, nos résultats ne seront pas corrects et il FAUDRA recourir à l'algorithme plus général précédent!!!

Cfr. exemple pratique en fin d'exercice.

In [8]:
def moyenne(x):
    return (x['first_value']+x['second_value'])/2

In [9]:
echantillon_df['moyenne'] = echantillon_df.apply(moyenne,axis=1)

In [10]:
echantillon_df

    first_value  second_value  moyenne
0           2.0           3.0      2.5
1           2.0           6.0      4.0
2           2.0           8.0      5.0
3           2.0          11.0      6.5
4           3.0           2.0      2.5
5           3.0           6.0      4.5
6           3.0           8.0      5.5
7           3.0          11.0      7.0
8           6.0           2.0      4.0
9           6.0           3.0      4.5
10          6.0           8.0      7.0
11          6.0          11.0      8.5
12          8.0           2.0      5.0
13          8.0           3.0      5.5
14          8.0           6.0      7.0
15          8.0          11.0      9.5
16         11.0           2.0      6.5
17         11.0           3.0      7.0
18         11.0           6.0      8.5
19         11.0           8.0      9.5

In [11]:
n_echantillons = echantillon_df.shape[0]

moyenne_distribution_moyenne = echantillon_df['moyenne'].sum()/n_echantillons
print('Moyenne de la distribution des moyennes:{0:.2f}'.format(moyenne_distribution_moyenne))

Moyenne de la distribution des moyennes:6.00

In [12]:
echantillon_df['delta'] = echantillon_df['moyenne']-moyenne_distribution_moyenne
echantillon_df['delta2'] = echantillon_df['delta']**2

In [13]:
variance_distribution_moyenne = echantillon_df['delta2'].sum()/n_echantillons
print('Variance de la distribution des moyennes:{0:.2f}'.format(variance_distribution_moyenne))

Variance de la distribution des moyennes:4.05

In [14]:
ecart_type_distribution_moyenne = math.sqrt(variance_distribution_moyenne)
print('Ecart type de la distribution des moyennes:{0:.2f}'.format(ecart_type_distribution_moyenne))

Ecart type de la distribution des moyennes:2.01

Calcul par formule de cette variance: variance de la population / taille de l'échantillon * facteur correctif,
ce facteur étant (N-n)/(N-1) soit:

In [15]:
N = population_df.shape[0]
n = 2
variance_distribution_moyenne_formule = variance_population/n*(N-n)/(N-1)
print('Variance de la distribution des moyennes (par formule):{0:.2f}'.format(variance_distribution_moyenne_formule))

Variance de la distribution des moyennes (par formule):4.05

In [16]:
ecart_type_distribution_moyenne_formule = math.sqrt(variance_distribution_moyenne_formule)
print('Ecart-type de la distribution des moyennes (par formule):{0:.2f}'.format(ecart_type_distribution_moyenne_formule))

Ecart-type de la distribution des moyennes (par formule):2.01

On retombe donc bien sur les valeurs calculées explicitement, comme il se doit!!!