Une population est constituée des cinq nombres 2, 3, 6, 8 et 11. On considère tous les échantillons non exhaustifs possibles de taille deux de cette population.

Trouver:
- La moyenne de la population
- L’écart-type de la population
- La moyenne de la distribution des moyennes d'échantillon
- L’écart-type de la distribution des moyennes d'échantillon

In [179]:
from itertools import product
from math import sqrt
import numpy as np

import pandas as pd

pop = [2,3,6,8,11]
n_pop = len(pop)

In [180]:
df = pd.DataFrame({"nombres": pop})
df

   nombres
0        2
1        3
2        6
3        8
4       11

## 1 Moyenne population

In [181]:
moyenne_pop = np.mean(df["nombres"])
moyenne_pop

6.0

## 2 Écart-type population

In [182]:
ecart_type_pop = np.std(df["nombres"])
ecart_type_pop

3.286335345030997

## 3 Moyenne des moyennes d'échantillons

In [183]:
echantillons = list(product(pop, repeat=2))
df_echantillons = pd.DataFrame(echantillons, columns=["nombre1", "nombre2"])
df_echantillons

    nombre1  nombre2
0         2        2
1         2        3
2         2        6
3         2        8
4         2       11
5         3        2
6         3        3
7         3        6
8         3        8
9         3       11
10        6        2
11        6        3
12        6        6
13        6        8
14        6       11
15        8        2
16        8        3
17        8        6
18        8        8
19        8       11
20       11        2
21       11        3
22       11        6
23       11        8
24       11       11

In [184]:
df_echantillons['moyenne'] = df_echantillons.apply(lambda r:(r['nombre1'] + r['nombre2']) / 2, axis=1)
df_echantillons

    nombre1  nombre2  moyenne
0         2        2      2.0
1         2        3      2.5
2         2        6      4.0
3         2        8      5.0
4         2       11      6.5
5         3        2      2.5
6         3        3      3.0
7         3        6      4.5
8         3        8      5.5
9         3       11      7.0
10        6        2      4.0
11        6        3      4.5
12        6        6      6.0
13        6        8      7.0
14        6       11      8.5
15        8        2      5.0
16        8        3      5.5
17        8        6      7.0
18        8        8      8.0
19        8       11      9.5
20       11        2      6.5
21       11        3      7.0
22       11        6      8.5
23       11        8      9.5
24       11       11     11.0

In [185]:
nombre_echantillons = df_echantillons.shape[0]
moyenne_des_moyennes_pd = np.mean(df_echantillons['moyenne'])
moyenne_des_moyennes_mano = df_echantillons['moyenne'].sum()/nombre_echantillons
moyenne_des_moyennes_pd, moyenne_des_moyennes_mano

(6.0, 6.0)

## 4 Écart-type des moyennes d'échantillons

In [186]:
ecart_des_moyennes_pd = np.std(df_echantillons['moyenne'])
ecart_des_moyennes_mano = ecart_type_pop/sqrt(2)
ecart_des_moyennes_pd, ecart_des_moyennes_mano

(2.32379000772445, 2.32379000772445)