In [117]:
import random
from itertools import product
from math import sqrt
import numpy as np

import pandas as pd
from numpy import mean


np.random.seed(69)
random.seed(69)

In [118]:
mu = 68.0
sigma = 3.0
N = 3000

population_df = pd.DataFrame({'poids':np.random.normal(loc=mu,scale=sigma,size=N)})
population_df

          poids
0     70.746521
1     66.189374
2     71.486886
3     66.195800
4     63.207543
...         ...
2995  65.546805
2996  69.607160
2997  65.985854
2998  70.210994
2999  68.297560

[3000 rows x 1 columns]

### Non-exhaustif

In [119]:
n_echantillons = 80
taille_echantillon = 25

moyenne_list = [
    mean(random.sample(list(population_df['poids']), taille_echantillon))
    for _ in range(n_echantillons)
]

poids_moyen_ne_df = pd.DataFrame({'poids_moyen':moyenne_list})
poids_moyen_ne_df

    poids_moyen
0     68.571725
1     67.901270
2     69.007062
3     67.598820
4     67.081813
..          ...
75    68.581542
76    66.922548
77    68.467467
78    69.223948
79    67.032019

[80 rows x 1 columns]

In [120]:
np.mean(poids_moyen_ne_df["poids_moyen"]), np.std(poids_moyen_ne_df["poids_moyen"], ddof=0)

(67.95233023594703, 0.633098488505203)

### Exhaustif

In [121]:
moyenne_list = [
    mean(random.choices(list(population_df['poids']), k=taille_echantillon))
    for _ in range(n_echantillons)
]

poids_moyen_e_df = pd.DataFrame({'poids_moyen':moyenne_list})
poids_moyen_e_df

    poids_moyen
0     67.899004
1     66.182137
2     67.930960
3     66.953504
4     66.989246
..          ...
75    68.132871
76    67.517935
77    67.905571
78    67.727580
79    68.158821

[80 rows x 1 columns]

In [122]:
np.mean(poids_moyen_e_df["poids_moyen"]), np.std(poids_moyen_e_df["poids_moyen"], ddof=0)

(68.01510092377546, 0.5855743280850417)