Une population est constituée des cinq nombres 2, 3, 6, 8 et 11. On considère tous les échantillons non exhaustifs possibles de taille deux de cette population.

Trouver:
- La moyenne de la population
- L’écart-type de la population
- La moyenne de la distribution des moyennes d'échantillon
- L’écart-type de la distribution des moyennes d'échantillon

In [33]:
from itertools import product
from math import sqrt
import numpy as np

import pandas as pd

pop = [2,3,6,8,11]
n_pop = len(pop)
taille_echantillons = 2

In [34]:
df = pd.DataFrame({"nombres": pop})
df

   nombres
0        2
1        3
2        6
3        8
4       11

## 1 Moyenne population

In [35]:
moyenne_pop = np.mean(df["nombres"])
moyenne_pop

6.0

## 2 Écart-type population

In [36]:
ecart_type_pop = np.std(df["nombres"])
ecart_type_pop

3.286335345030997

## 3 Moyenne des moyennes d'échantillons

In [37]:
echantillons = list(product(pop, repeat=2))
echantillons = [pair for pair in echantillons if pair[0] != pair[1]]
df_echantillons = pd.DataFrame(echantillons, columns=["nombre1", "nombre2"])
df_echantillons

    nombre1  nombre2
0         2        3
1         2        6
2         2        8
3         2       11
4         3        2
5         3        6
6         3        8
7         3       11
8         6        2
9         6        3
10        6        8
11        6       11
12        8        2
13        8        3
14        8        6
15        8       11
16       11        2
17       11        3
18       11        6
19       11        8

In [38]:
df_echantillons['moyenne'] = df_echantillons.apply(lambda r:(r['nombre1'] + r['nombre2']) / 2, axis=1)
df_echantillons

    nombre1  nombre2  moyenne
0         2        3      2.5
1         2        6      4.0
2         2        8      5.0
3         2       11      6.5
4         3        2      2.5
5         3        6      4.5
6         3        8      5.5
7         3       11      7.0
8         6        2      4.0
9         6        3      4.5
10        6        8      7.0
11        6       11      8.5
12        8        2      5.0
13        8        3      5.5
14        8        6      7.0
15        8       11      9.5
16       11        2      6.5
17       11        3      7.0
18       11        6      8.5
19       11        8      9.5

In [39]:
nombre_echantillons = df_echantillons.shape[0]
moyenne_des_moyennes_pd = np.mean(df_echantillons['moyenne'])
moyenne_des_moyennes_mano = df_echantillons['moyenne'].sum()/nombre_echantillons
moyenne_des_moyennes_pd, moyenne_des_moyennes_mano

(6.0, 6.0)

## 4 Écart-type des moyennes d'échantillons

In [40]:
ecart_des_moyennes_pd = np.std(df_echantillons['moyenne'])
ecart_des_moyennes_mano = (ecart_type_pop/sqrt(2)) * (sqrt((n_pop-taille_echantillons)/(n_pop-1)))
ecart_des_moyennes_pd, ecart_des_moyennes_mano

(2.0124611797498106, 2.0124611797498106)